{% extends 'base.html' %}

{% block body %}
<style>

@media (min-width: 576px){
    .jumbotron {
     padding: 2%;
    }
}

</style>
<br><br><br>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 col-md-6">
                {% load crispy_forms_tags %}
                {% block content %}
                {% if not followee_username == request.user.username %}
                {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
                
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="followee_username" value="{{ followee_username }}" />
                <input type="submit" value="start following {{ followee_username }}" />
                </form>
                
                {% endif %}
                {% endblock %}
      </div>    
    </div>
</div>
{% endblock%}

